---
layout: default
---
<section id="Example1" class="bg-grey py-10 container-fluid">
	<span class="example-tag">Standard</span>
	<div class="row row-primary align-items-center">
		<div class="col-md-6 col-lg-5 offset-lg-1 order-12 order-sm-12 order-md-1">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<h3 class="mb-4">Summarize reports at-a-glance</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">View detailed expenses</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">Submit reports on the go</h3>
			<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 			
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="col-sm-12 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-1 order-1 order-md-12 text-center mb-6 mb-md-0">
			<div class="shot">
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->

<section id="Example2" class="bg-black py-10 container-fluid">
	<span class="example-tag">3D transform</span>
	<div class="row row-primary align-items-center">
		<div class="col-md-6 col-lg-5 offset-lg-1 order-12 order-sm-12 order-md-1">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<h3 class="mb-4">Summarize reports at-a-glance</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">View detailed expenses</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">Submit reports on the go</h3>
			<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 			
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="perspective-shot col-sm-12 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-1 order-1 order-md-12 text-center mb-6 mb-md-0">
			<div class="shot">
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->

<section id="Example3" class="py-10 container-fluid">
	<span class="example-tag">Animate-in + Large drop shadow</span>
	<div class="row row-primary align-items-center">
		<div class="col-sm-12 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-1 text-center mb-6 mb-md-0">
			<div class="shot long-shadow animated">
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->		
		<div class="col-md-6 col-lg-5 offset-lg-1">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<h3 class="mb-4">Summarize reports at-a-glance</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">View detailed expenses</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">Submit reports on the go</h3>
			<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 			
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
	</div><!--// .row -->
</section><!--// section -->

<section id="Example4" class="bg-black py-10 container-fluid">
	<span class="example-tag">3D transform + multiple images</span>
	<div class="row row-primary align-items-top">
		<div class="col-md-6 col-lg-5 offset-lg-1 order-12 order-sm-12 order-md-12 order-lg-1">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<h3 class="mb-4">Summarize reports at-a-glance</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">View detailed expenses</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">Submit reports on the go</h3>
			<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 			
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="perspective-shot multi-shot col-md-12 offset-md-0 col-lg-6 offset-lg-0 col-xl-5 offset-xl-0 order-1 order-sm-1 order-md-1 order-lg-12 text-center mb-6 mb-lg-0">
			<div class="shot">
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
			</div><!--// .shot -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->

<section id="Example5" class="bg-grey overflow-hidden py-10 container-fluid">
	<span class="example-tag">3D transform + infinite animation</span>
	<div class="row row-primary align-items-center">
		<div class="col-md-5 col-lg-5 offset-lg-1">
			<h1 class="mb-5">Capture expenses on the fly.</h1>
			<p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes,</p> 	
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="perspective-shot motion-loop scale-2 col-sm-6 offset-sm-3 col-md-6 offset-md-1 col-lg-3 offset-lg-3 text-center">
			<div class="shot no-shadow">
				<img src="{{ "/assets/img/exploded-ui/expense-receipts@3x.png" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->

<section id="Example6" class="bg-black py-10 container-fluid">
	<span class="example-tag">Animate-in + Large drop shadow</span>
	<div class="row row-primary align-items-center">
		<div class="perspective-shot left-angle col-sm-6 offset-sm-3 col-md-6 offset-md-1 col-lg-3 offset-lg-1 text-center">
			<div class="shot no-shadow">
				<div id="bm"></div>
			</div><!--// .device -->
		</div><!--// .col -->		
		<div class="col-sm-5 offset-sm-2">
			<h1 class="mb-5">Locate your employees anywhere in the world.</h1>
			<p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p> 		
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
	</div><!--// .row -->
</section><!--// section -->

<section id="Example7" class="ix-container bg-grey py-10 container-fluid">
	<span class="example-tag">Standard</span>
	<div class="row row-primary align-items-center">
		<div class="ix-context col-md-6 col-lg-5 offset-lg-1 order-12 order-sm-12 order-md-1">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<div class="ix-component ix-1">
				<h3 class="mb-4">Summarize reports at-a-glance</h3>
				<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			</div>
			<div class="ix-component ix-2">
				<h3 class="mb-4">View detailed expenses</h3>
				<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			</div>
			<div class="ix-component ix-3">
				<h3 class="mb-4">Submit reports on the go</h3>
				<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 		
			</div>	
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="interactive-shot perspective-shot ix-visual col-sm-12 offset-sm-0 col-md-6 offset-md-0 col-lg-4 offset-lg-1 order-1 order-md-12 text-center mb-6 mb-md-0">
			<div class="shot">
				<div class="app-ui">
					<img src="{{ "/assets/img/exploded-ui/interaction/AppUI.svg" | relative_url }}" />
				</div>
				<div class="report-summary ix-component ix-1">
					<img src="{{ "/assets/img/exploded-ui/interaction/ReportSummary.svg" | relative_url }}" />
				</div>
				<div class="expenses ix-component ix-2">
					<img src="{{ "/assets/img/exploded-ui/interaction/Expense.svg" | relative_url }}" />
					<img src="{{ "/assets/img/exploded-ui/interaction/Expense.svg" | relative_url }}" />
					<img src="{{ "/assets/img/exploded-ui/interaction/Expense.svg" | relative_url }}" />
				</div>
				<div class="cta-btn ix-component ix-3">
					<img src="{{ "/assets/img/exploded-ui/interaction/CTAButton.svg" | relative_url }}" />
				</div>
			</div><!--// .device -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->
