---
layout: default
---
<section id="Example1" class="bg-grey py-10 container-fluid">
	<span class="example-tag">Standard</span>
	<div class="row row-primary align-items-center">
		<div class="col-md-5 col-lg-5 offset-lg-1">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<h3 class="mb-4">Summarize reports at-a-glance</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">View detailed expenses</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">Submit reports on the go</h3>
			<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 			
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="col-sm-6 offset-sm-3 col-md-6 offset-md-1 col-lg-3 offset-lg-2 text-center">
			<div class="shot">
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->

<section id="Example2" class="bg-black py-10 container-fluid">
	<span class="example-tag">3D transform</span>
	<div class="row row-primary align-items-center">
		<div class="col-md-5 col-lg-5 offset-lg-1">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<h3 class="mb-4">Summarize reports at-a-glance</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">View detailed expenses</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">Submit reports on the go</h3>
			<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 			
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="perspective-shot col-sm-6 offset-sm-3 col-md-6 offset-md-1 col-lg-3 offset-lg-3 text-center">
			<div class="shot">
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->

<section id="Example3" class="py-10 container-fluid">
	<span class="example-tag">Large drop shadow</span>
	<div class="row row-primary align-items-center">
		<div class="col-sm-6 offset-sm-3 col-md-6 offset-md-1 col-lg-3 offset-lg-1 text-center">
			<div class="shot long-shadow animated fadeInLeft">
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->		
		<div class="col-md-5 col-lg-5 offset-lg-2">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<h3 class="mb-4">Summarize reports at-a-glance</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">View detailed expenses</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">Submit reports on the go</h3>
			<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 			
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
	</div><!--// .row -->
</section><!--// section -->

<section id="Example4" class="bg-black py-10 container-fluid">
	<span class="example-tag">3D trasnform + multiple images</span>
	<div class="row row-primary align-items-top">
		<div class="col-md-5 col-lg-5 offset-lg-1">
			<h1 class="mb-7">Expense reports in your pocket.</h1>
			<h3 class="mb-4">Summarize reports at-a-glance</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">View detailed expenses</h3>
			<p class="mb-5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 
			<h3 class="mb-4">Submit reports on the go</h3>
			<p class="mb-7">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis.</p> 			
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="perspective-shot multi-shot col-sm-6 offset-sm-3 col-md-6 offset-md-1 col-lg-3 offset-lg-3 text-center">
			<div class="shot">
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
				<img src="{{ "/assets/img/devices/device-mock.svg" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->

<section id="Example5" class="bg-grey overflow-hidden py-10 container-fluid">
	<span class="example-tag">3D transform + infinite animation</span>
	<div class="row row-primary align-items-center">
		<div class="col-md-5 col-lg-5 offset-lg-1">
			<h1 class="mb-5">Capture expenses on the fly.</h1>
			<p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes,</p> 	
			<a href="#" class="btn btn-primary">Learn More</a>
			<a href="#" class="btn">Check it</a>
		</div><!--// .col -->	
		<div class="perspective-shot motion-loop scale-2 col-sm-6 offset-sm-3 col-md-6 offset-md-1 col-lg-3 offset-lg-3 text-center">
			<div class="shot no-shadow">
				<img src="{{ "/assets/img/exploded-ui/expense-receipts@2x.png" | relative_url }}" />
			</div><!--// .device -->
		</div><!--// .col -->
	</div><!--// .row -->
</section><!--// section -->

<style>
section {
	position: relative;
}
.example-tag {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    background-color: #FFF;
	border: 1px solid #efefef;
	border-bottom-right-radius: 2px;
}
.overflow-hidden {
	overflow: hidden;
}
h3 {
	font-weight: 600;
}
.btn {
	padding: 1.5rem 3rem;
	font-size: 1.5rem;
	font-weight: 600;
}
.shot img {
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.shot.long-shadow img {
	border-radius: 3px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}
.shot.no-shadow img {
	border-radius: 0;
	box-shadow: none;
}
.perspective-shot {
	perspective: 2000px;
	position: relative;
}
.perspective-shot .shot {
    transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
}
.perspective-shot.motion-loop .shot {
	-webkit-animation: spinner 10s infinite linear;
}
.multi-shot .shot img {
	position: absolute;
	left: 0;
	z-index: 100;
}
.multi-shot .shot img:nth-of-type(2) {
	left: 15px;
	top: -15px;
	opacity: 0.5;
	z-index: 99;
}
.multi-shot .shot img:nth-of-type(3) {
	left: 30px;
	top: -30px;
	opacity: 0.25;
	z-index: 98;
}
.scale-2 .shot img {
	transform: scale(2);
}
@-webkit-keyframes spinner {
    0% { 
       -webkit-transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
       -ms-transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
       -o-transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
       transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
    }
    25% { 
       -webkit-transform: translate(-50%,0%) rotate3d(.42,-1,0,26deg) rotate(5deg);
       -ms-transform: translate(-50%,0%) rotate3d(.42,-1,0,26deg) rotate(5deg);
       -o-transform: translate(-50%,0%) rotate3d(.42,-1,0,26deg) rotate(5deg);
       transform: translate(-50%,0%) rotate3d(.42,-1,0,26deg) rotate(5deg);
    }
    100% { 
        -webkit-transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
       -ms-transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
       -o-transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
       transform: translate(-50%,0%) rotate3d(.342,-.94,0,22deg) rotate(3deg);
    }
}
</style>